.history/
node_modules/
!wp-content/
wp-content/*
wp-content/plugins/litespeed-cache/
wp-content/plugins/wordfence/
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
!wp-content/uploads/
wp-content/uploads/elementor/css/post-*.css
jetpack-temp/


/.htaccess_*
wp-content/plugins/hello.php
wp-content/uploads/wph/environment.php
wp-config.php

error_log

*.log
*.sql
*.sqlite

ehthumbs.db
Thumbs.db
.thumb
.DS_Store
.user.ini

*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.sublime-project
*.sublime-workspace
*.komodoproject
.vscode
